* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  min-height: 100vh;
}

.main-container > *{
    padding: 15px;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #2171EB;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 15px;
    font-size: 1rem;
}

.header{
    background-color: #ffffff;
    position: relative;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.searchbar{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.25rem;
    justify-content: space-between;
}

.search-btn{
    height: 24px;
    width: 24px;
    background: none;
}

.bell-btn{
    height: 24px;
    width: 24px;
    background: none;
}

.search{
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile{
    display: flex;
    gap: 8px;
    align-items: center;
}

.introduction{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
}

.greeting{
    display: flex;
    gap: 15px;
}

.actions > button{
    font-size:16px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background-color: #354AEB;
    color: white;
}

.actions{
    display: flex;
    gap: 16px;
}

.hi-user{
    font-size:20px;
}

.interface{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 2fr 1fr;
    background-color: #b7bdc6;
}

.showcase{
    display: grid;
    gap: 20px;
    padding: 0;
    margin: 0;
    grid-template-rows: auto 5fr;
}

.showcase > p{
    grid-row: 1 / 2;
    font-size: 24px;
    font-weight: bold;
    justify-self: start;
    margin-left: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-left: 5px solid rgba(255, 255, 0, 0.737);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.announcements{
    display: grid;
    gap: 5px;
    grid-template-rows: auto 2fr auto 2fr;
}
.announcements > div{
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.announcements > p{
    font-size: 16px;
    font-weight: bold;
}

.announcement-cards{
    grid-row: 2 / 3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.trending-cards{
    grid-row: 4 / 5;
    gap: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.post{
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-profile{
    display: flex;
    flex-direction: column;
}

.link, .logo{
    color: white;
}

input{
    font-size: 1rem;
    width: 30rem;
    border-radius: 10px;
    padding: 6px 12px;
    border: none;
    background-color: #e5e7eb;
}

button{
    border: none;
    cursor: pointer;
}

button:active{
    transform: scale(0.94);
}