* {
  margin: 0;
  padding: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.main-container > *{
    padding: 15px;
    background-color: red;
}

.sidebar{
    display: grid;
    grid-column-start: 1;
    grid-row: 1 / -1;
    background-color: blue;
    gap: 15px;
    font-size: 30px;
    align-items: center;
    padding: 10px;
}

.sidebar > * {
    border: 2px solid black;
}

.header{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header > div {
    border: 1px solid black;
}

.searchbar{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
    font-size: 40px;
}

.introduction{
    display: flex;
    padding: 30px;
    font-size: 40px;
}

.interface{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: green;
}
.link, .logo{
    color: white;
}

input{
    font-size: 40px;
}