* {
  margin: 0;
  padding: 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    text-align: center;
}

.main-container > *{
    padding: 15px;
    background-color: red;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 15px;
    font-size: 100px;
}

.sidebar > * {
    border: 2px solid black;
}

.header{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header > div {
    border: 1px solid black;
}

.searchbar{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 20px;
    font-size: 40px;
    justify-content: space-between;
}

.introduction{
    display: flex;
    padding: 30px;
    font-size: 40px;
    justify-content: space-between;
}

.greeting{
    display: flex;
}

.actions > button{
    font-size:20px;
    padding: 16px 24px;
}

.interface{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: green;
    border: 2px dashed black;
    grid-template-columns: 2fr 1fr;
}

.showcase{
    display: grid;
    gap: 20px;
    padding: 0;
    margin: 0;
    grid-template-rows: 1fr 10fr;
    height: 40vh;
}

.showcase > p{
    grid-row: 1 / 3;
    font-size: 50px;
    font-weight: bold;
}
.projects{
    display: grid;
    justify-self: start;
    font-size: 20px;;
    font-weight: bold;
    grid-row: 2 / 3;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    gap: 10px;
}

.card{
    padding: 30px;
    background-color: white;
    border-left: 5px solid rgba(255, 255, 0, 0.737);
    border-radius: 10px;
}

.announcement{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
}


.link, .logo{
    color: white;
}

input{
    font-size: 40px;
}